# Ignoro archivos que VSCode genera al compilar de LaTeX a pdf

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz

# Ignoro los binarios compilados de los codigos

productor_sem
consumidor_sem
productor_col
consumidor_col
*.toc
