# Ignoro archivos que VSCode genera al compilar de LaTeX a pdf

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc
*.pdf

# Ignoro los binarios compilados de los codigos

prod
cons
*.csv
*.csv#
